 <div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><a href="/">Baby Rhymes</a></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li ><a href="/">Home</a></li>
              <li class="active"><a href="/mobile">Features</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Download Mobile App</h1>
        <p class="lead">The app lets you ask questions on all important topics related to parenting, baby care, mother care, feeding, breast feeding, vaccination. </p>
        <p class="lead">
          <a href="https://play.google.com/store/apps/details?id=com.baby.android&hl=en" target="new" class="btn btn-lg btn-default">Download App</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>CopyRight @BabyRhymes.</p>
        </div>
      </div>

    </div>

  </div>

</div>
